<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belajar_java_ndp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Belajar_java_ndp">
        <activity
            android:name=".RangkingUser"
            android:exported="true" />
        <activity
            android:name=".KumpulanPertanyaan"
            android:exported="true" />
        <activity
            android:name=".TambahPertanyaan"
            android:exported="true" />
        <activity
            android:name=".Pemberitahuan"
            android:exported="true" />
        <activity
            android:name=".List_Pertanyaan"
            android:exported="true" />
        <activity
            android:name=".rangking_pengguna"
            android:exported="true" />
        <activity
            android:name=".login"
            android:exported="true" />

        <activity
            android:name=".gantipassword"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>